/*main comp*/
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*SASS comp*/
.logo-web {
  width: 145px;
  height: 31px;
}

header .log-web {
  margin-right: 93px;
}

footer .log-web {
  margin-bottom: 20px;
}

.header-site {
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*nav*/
.header-box {
  width: 325px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 52px;
  margin-bottom: 50px;
  margin-right: 313px;
}

.header-box-text-line {
  list-style: none;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-text {
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition: 0.5s;
}

.header-text-one {
  width: 48px;
  height: 48px;
}

.header-text-two {
  width: 72px;
  height: 48px;
}

.header-text-three {
  width: 64px;
  height: 48px;
}

.header-text {
  position: relative;
}

.header-text::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  opacity: 0;
  transition: opacity 0.3s ease, width 0.3s ease;
}

.header-text:hover {
  color: #2196F3;
}

.header-text:hover::after {
  opacity: 1;
  width: 100%;
}

/*tel, email*/
.header-tel-email {
  display: flex;
}

.header-one, .header-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-right: 30px;
}

.header-one {
  width: 161px;
}

.header-two {
  width: 142px;
}

.header-p-svg-mail {
  width: 135px;
  height: 16px;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  margin: 0;
  transition: color 1s;
}

.header-p-svg-call {
  width: 122px;
  height: 16px;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  margin: 0;
  transition: color 1s;
}

.hvs {
  transition: fill 1s;
}

.header-one:hover .hvs {
  fill: #2196F3;
}

.header-one:hover .header-p-svg-mail {
  color: #2196F3;
}

.header-two:hover .hvs {
  fill: #2196F3;
}

.header-two:hover .header-p-svg-call {
  color: #2196F3;
}

/*Banner*/
.site-banner {
  width: 100vw;
  height: 600px;
  background-image: url(../img/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-banner {
  width: 725px;
  color: #FFF;
  text-align: center;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-banner {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/*form*/
.form-site {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms ease-in;
  z-index: 3;
}

.form-site.is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: visible;
  transform: translateY(-100%);
  transition: opacity 250ms ease-in, transform 250ms ease-in;
}

.form {
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.box-button {
  position: relative;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: end;
}

.button-img-close {
  width: 30px;
  height: 30px;
  fill: #FFF;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  border-radius: 50%;
  font-size: 24px;
}

.form-title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 0;
}

.big-box-form {
  width: 448px;
  height: 342px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 12px;
  margin-bottom: 20px;
}

.box-form {
  width: 448px;
  height: 58px;
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-bottom: 10px;
  position: relative;
}

.form-box-title {
  color: #757575;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 5px;
}

.form-svg {
  position: absolute;
  top: 30px;
  left: 12px;
}

.input-text {
  width: 428px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 35px;
}

.messega {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-top: 12px;
  padding-left: 16px;
}

.box-form-m {
  width: 428px;
  height: 120px;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  position: relative;
}

.box-check {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 8px;
}

.form-conditions {
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-right: 8px;
}

.form-a {
  color: #2196F3;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.box-button-send {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-send {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
}

/*hover, focus, form*/
.button-img-close:hover {
  color: #2196F3;
}

.box-form:hover .input-text, .box-form:hover .form-svg-hover, .messega:hover {
  color: #2196F3;
  fill: #2196F3;
}

.input-text:focus {
  color: #2196F3;
}

.messega:focus {
  color: #2196F3;
}

.input-text:focus ~ .form-svg path {
  fill: #2196F3;
}

/*are we doing*/
.doing-site {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.doing-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.big-box {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo-task {
  width: 370px;
  height: 294px;
}

.box-text {
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  flex-shrink: 0;
  position: absolute;
  bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-status {
  color: #FFF;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

/*TEAM*/
.team-site {
  width: 100vw;
  height: 708px;
  background: #F5F4FA;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 94px;
}

.team-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-top: 91px;
}

.box-team {
  width: 1170px;
  height: 428px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.team {
  width: 270px;
  height: 428px;
  border-radius: 0px 0px 4px 4px;
  background: #FFF;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.img-team {
  width: 270px;
  height: 260px;
}

.title-team {
  color: #212121;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitle-team {
  color: #212121;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-team {
  width: 190px;
  margin-left: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.circle-team-one, .circle-team-two, .circle-team-three, .circle-team-four {
  transition: fill 1s;
}

.social-team-all-one:hover .circle-team-one {
  transition: fill 1s;
  fill: #2196F3;
}

.social-team-all-one:hover .social-team-one {
  transition: fill 1s;
  fill: #FFFFFF;
}

.social-team-all-two:hover .circle-team-two {
  transition: fill 1s;
  fill: #2196F3;
}

.social-team-all-two:hover .social-team-two {
  transition: fill 1s;
  fill: #FFFFFF;
}

.social-team-all-three:hover .circle-team-three {
  transition: fill 1s;
  fill: #2196F3;
}

.social-team-all-three:hover .social-team-three {
  transition: fill 1s;
  fill: #FFFFFF;
}

.social-team-all-four:hover .circle-team-four {
  transition: fill 1s;
  fill: #2196F3;
}

.social-team-all-four:hover .social-team-four {
  transition: fill 1s;
  fill: #FFFFFF;
}

/*Cliant*/
.client-site {
  width: 100vw;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}

.client-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.big-box-client {
  width: 1220px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.box {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
}

.box-client1:hover .client, .box-client2:hover .client, .box-client3:hover .client, .box-client4:hover .client, .box-client5:hover .client, .box-client6:hover .client {
  fill: #2196F3;
}

.box-client1:hover .box, .box-client2:hover .box, .box-client3:hover .box, .box-client4:hover .box, .box-client5:hover .box, .box-client6:hover .box {
  border: 1px solid #2196F3;
}

/*FOOTER*/
.footer-site {
  width: 100vw;
  height: 255px;
  background: #2F303A;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.footer-info {
  margin-left: 215px;
  margin-top: 60px;
}

.footer-city {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.footer-email {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.footer-joing {
  margin-top: 60px;
  margin-left: 70px;
}

.footer-name {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer-text-email {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-right: 12px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
}

.footer-text-email:focus {
  color: #2196F3;
}

.footer-text-email::-moz-placeholder {
  width: 47px;
  height: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
}

.footer-text-email::placeholder {
  width: 47px;
  height: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
}

.footer-button-ps {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
}

.footer-email-text-and-telegram {
  margin-top: 60px;
  margin-left: 109px;
}

.footer-button-ps::after {
  display: inline-block;
  content: "";
  background: url(../img/icon_send.svg);
  width: 24px;
  height: 24px;
  background-size: contain;
  margin-left: 13px;
  transform: translateY(20%);
}

.social-team-black {
  margin-top: 30px;
  margin-left: 0;
}