/*FOOTER*/

.footer-site{
    width: 100vw;
    height: 255px;

    background: #2F303A;

    margin-top: 30px;

    display: flex;
    
    flex-direction: row;
}

.footer-info{
    margin-left: 215px;
    margin-top: 60px;
}

.footer-city{
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.42px;
}

.footer-email{
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.footer-tel{
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.footer-joing{
    margin-top: 60px;
    margin-left: 70px;
}

.footer-name{
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer-text-email{
    width: 358px;
    height: 50px;

    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    margin-right: 12px;

    padding-left: 16px;

    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.48px;
}

.footer-text-email:focus{
    color: #2196F3;
}

.footer-text-email::placeholder{
    width: 47px;
    height: 20px;

    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.48px;
}

.footer-button-ps{
    width: 200px;
    height: 50px;

    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
}

.footer-email-text-and-telegram{
    margin-top: 60px;
    margin-left: 109px;
}

.footer-button-ps::after{
    display: inline-block;
    content: "";
    background: url(../img/icon_send.svg);
    width: 24px;
    height: 24px;
    background-size: contain;
    margin-left: 13px;
    transform: translateY(20%);
}

.social-team-black{
    margin-top: 30px;
    margin-left: 0;
}