.header{
    width: 100vw;
    height: 80px;

    display: flex;

    justify-content: center;
    align-items: center;

    margin-bottom: 10px;

    /*nav*/

    &-nav__item{
        width: 325px;
        height: 48px;

        display: flex;

        flex-direction: row;

        justify-content: space-between;

        margin-top: 52px;
        margin-bottom: 50px;
        margin-right: 313px;
    }

    &__box{
        list-style: none;
    
        height: 48px;
    
        display: flex;
    
        justify-content: center;
        align-items: center;
    
        flex-direction: column;
    }

    &__text{
        position: relative;

        color: #212121;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
    
        transition: 0.5s;

        &:hover{   
            color: $accent_color;
        }

            &-one{
                width: 48px;
                height: 48px;
            }
            
            &-two{
                width: 72px;
                height: 48px;
            }
            
            &-three{
                width: 64px;
                height: 48px;
            }

        &::after{
            content: "";
        
            position: absolute;
            bottom: -5px;
            left: 0;
        
            width: 0;
            height: 4px;
        
            border-radius: 2px;
        
            background-color: $accent_color;
        
            opacity: 0;
            transition: opacity 0.3s ease, width 0.3s ease;
            }

            &:hover::after {
                opacity: 1;
    
                width: 100%;
            }
        }

    /*tel, email*/
    &-item{
        display: flex;
        
        &__email, &__tel{
        display: flex;
    
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    
        margin-right: 30px;
    }

    &__email{
        width: 161px;

        &:hover .hvs{
            fill: $accent_color;
        }

        &:hover &--hover{
            color: $accent_color;
        }
    }
    
    &__tel{
        width: 142px;

        &:hover .hvs{
            fill: $accent_color;
        }

        &:hover &--hover{
            color: $accent_color;
        }
    }

    &__email--hover{
        width: 135px;
        height: 16px;
    
        color: $gray_color;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
    
        margin: 0;
    
        transition:color 1s;
    }
    
    &__tel--hover{
        width: 122px;
        height: 16px;
    
        color: $gray_color;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
    
        margin: 0; 
    
        transition:color 1s;
    }
    }
}

.hvs{
    transition:fill 1s;
}