.header{
    width: 100%;
    height: 80px;

    display: flex;

    justify-content: center;
    align-items: center;

    

    &-site-decstop{
        width: 1170px;

        display: flex;

        justify-content: center;
        align-items: center;
        
        margin-bottom: 10px;
    }

    /*nav*/

    &-nav__item{
        width: 325px;
        height: 48px;

        display: flex;

        flex-direction: row;

        justify-content: space-between;

        margin-top: 52px;
        margin-bottom: 50px;
        margin-right: 313px;
    }

    &__box{
        list-style: none;
    
        height: 48px;
    
        display: flex;
    
        justify-content: center;
        align-items: center;
    
        flex-direction: column;
    }

    &__text{
        height: 48px;

        position: relative;

        color: $main_title_color;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
    
        transition: 0.5s;

        &:hover{   
            color: $accent_color;
        }

        &::after{
            content: "";
        
            position: absolute;
            bottom: -5px;
            left: 0;
        
            width: 0;
            height: 4px;
        
            border-radius: 2px;
        
            background-color: $accent_color;
        
            opacity: 0;
            transition: opacity 0.3s ease, width 0.3s ease;
            }

            &:hover::after {
                opacity: 1;
    
                width: 100%;
            }
        }

    /*tel, email*/
    &-actions{
        display: flex;
        

        &__email, &__tel{
        display: flex;
    
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    
        margin-right: 30px;
    }

    &__email{
        width: 161px;

        &:hover .hvs{
            fill: $accent_color;
        }

        &:hover &--hover{
            color: $accent_color;
        }
    }
    
    &__tel{
        width: 142px;

        &:hover .hvs{
            fill: $accent_color;
        }

        &:hover &--hover{
            color: $accent_color;
        }
    }

    &__email--hover{
        width: 135px;
        
        @include tel-email;
    }
    
    &__tel--hover{
        width: 122px;

        @include tel-email;
    }
    }
}

.header-site-mobile{
    display: none;
}



.hvs{
    transition:fill 1s;
}

@media (max-width: 768px) {
    .container{
        width: 100%;
    }

    .header-site-mobile{
        display: block;
    }

    .header-site-decstop{
        display: none;
    }

    .check-modal-header{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .checkbox{
        display: none;
        width: 40px;
        height: 65px;
        

        &-label{
            display: inline-block;
            position: relative;
            width: 24px;
            height: 4px;

            background-color: black;

            &::before{
                content: "";
                width: 24px;
                height: 4px;

                background-color: black;

                position: absolute;
                top: 10px;
            }

            &::after{
                content: "";
                width: 24px;
                height: 4px;

                background-color: black;

                position: absolute;
                bottom: 10px;
            }
        }
    }
    
    .menu{
        width: 100%;
        height: 100%;

        position: fixed;

        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        background-color: $white_color;
        opacity: 1;
        visibility: visible;
        transition: opacity 250ms ease-in;

        &__item{
            width: 100%;

            display: flex;

            flex-direction: column;

            margin-left: 40px;

            &-button{
                margin-top: 10px;
                margin-right: 15px;

                position: absolute;

                right: 0;

                &--close{
                    width: 40px;
                    height: 40px;
                    font-size: 40px;
                    border: none;
                    background: none;
                    transition: 0.5s;

                    &:hover{
                        color: $accent_color;
                        transition: 0.5s;
                    }
                }
            }

            &-box{
                padding-top: 48px;
                display: flex;

                align-items: start;
                flex-direction: column;
            }

            &-tel-email{
                margin-top: 10%;
            }

            &-email, &-tel{
                height: 32px;
                margin-bottom: 12px;
            }

            &-email--hover, &-tel--hover{
                color: $gray_color;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.48px;
                transition: 0.5s;

                &:hover{
                    color: $accent_color;
                    transition: 0.5s;
                }
            }

            &-object{
                padding: 0;
                margin-bottom: 36px;
                list-style: none;
            }

            &-text{
                position: relative;
        
                color: $main_title_color;
                font-size: 40px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.8px;
            
                transition: 0.5s;
        
                &:hover{   
                    color: $accent_color;
                }
        }
    }
}


// 1400px


@media (min-width: 1400px){

    .container{
        width: 100%;
        margin: 0 auto;
    }
    .header{
        width: 100%;
        height: 80px;
    
        display: flex;
    
        justify-content: center;
        align-items: center;
    
        
    
        &-site-decstop{
            width: 1170px;
            
            display: flex;
    
            justify-content: center;
            align-items: center;
            
            margin-bottom: 10px;
        }
    
        /*nav*/
    
        &-nav__item{
            width: 325px;
            height: 48px;
    
            display: flex;
    
            flex-direction: row;
    
            justify-content: space-between;
    
            margin-top: 52px;
            margin-bottom: 50px;
            margin-right: 313px;
        }
    
        &__box{
            list-style: none;
        
            height: 48px;
        
            display: flex;
        
            justify-content: center;
            align-items: center;
        
            flex-direction: column;
        }
    
        &__text{
            height: 48px;
    
            position: relative;
    
            color: $main_title_color;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.28px;
        
            transition: 0.5s;
    
            &:hover{   
                color: $accent_color;
            }
    
            &::after{
                content: "";
            
                position: absolute;
                bottom: -5px;
                left: 0;
            
                width: 0;
                height: 4px;
            
                border-radius: 2px;
            
                background-color: $accent_color;
            
                opacity: 0;
                transition: opacity 0.3s ease, width 0.3s ease;
                }
    
                &:hover::after {
                    opacity: 1;
        
                    width: 100%;
                }
            }
    
        /*tel, email*/
        &-actions{
            display: flex;
            
    
            &__email, &__tel{
            display: flex;
        
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
        
            margin-right: 30px;
        }
    
        &__email{
            width: 161px;
    
            &:hover .hvs{
                fill: $accent_color;
            }
    
            &:hover &--hover{
                color: $accent_color;
            }
        }
        
        &__tel{
            width: 142px;
    
            &:hover .hvs{
                fill: $accent_color;
            }
    
            &:hover &--hover{
                color: $accent_color;
            }
        }
    
        &__email--hover{
            width: 135px;
            
            @include tel-email;
        }
        
        &__tel--hover{
            width: 122px;
    
            @include tel-email;
        }
        }
    }
}
}